In [ ]:
#Hedging our bets muni-style

In [118]:
#import statements for packages/libraries
#which libraries do we need?
#pyfolio
#scipy
#backtester

import pandas as pd
import numpy as np
import datetime as dt
from datetime import datetime
from dateutil.relativedelta import relativedelta
from pathlib import Path
%matplotlib inline
import matplotlib.pyplot as plt
import plotly.express as px
import hvplot.pandas
from dotenv import load_dotenv
import panel as pn
from panel.interact import interact
from panel import widgets
import alpaca_trade_api as tradeapi
import quandl
import os
import requests

In [ ]:
#pull in data from API (7-ish years of data 1/1/2013-11/01/2020)
#bonds--bloomberg
#muni etf (MUB)--alpaca
#swap--bloomberg or alpaca
#treasury--quandl
#treasury ETF (TLT)--alpaca

In [2]:
load_dotenv()

True

In [11]:
#import

api_key_QD = os.getenv("QUANDL_API_KEY")
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")
# type(api_key_QD)
# type(alpaca_api_key)

In [12]:
#import alpaca api file for ETF price history
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

# Format current date as ISO format
start_date = pd.Timestamp("2013-01-02", tz="America/New_York").isoformat()
today = pd.Timestamp("2020-11-02", tz="America/New_York").isoformat()

# Set the tickers
tickers = ["MUB", "TLT", "UDN", "UUP","LQD","JNK"]

# Set timeframe to '1D' for Alpaca API
timeframe = "1D"

# Get closing prices
df_ETFs = alpaca.get_barset(
    tickers,
    timeframe,
    start = start_date,
    end = today
).df

# Preview DataFrame
# YOUR CODE HERE!
df_ETFs.head()

# Output the data to CSV
df_ETFs.to_csv("Resources/ETFs1.csv", encoding='utf-8', index=True)

In [41]:
ETF_csv = Path("Resources/ETFs.csv")
ETF_df = pd.read_csv(ETF_csv, index_col='Unnamed: 0', infer_datetime_format=True, parse_dates=True)
#ETF_df.rename(columns={'Unnamed: 0': 'Date'}, inplace = True)
ETF_df = ETF_df.drop(ETF_df.index[0])
#ETF_df['Date'] = pd.to_datetime(ETF_df['Date'], utc=True)
ETF_df.index = pd.to_datetime(ETF_df.index, utc=True).date
#ETF_df['Date']= ETF_df['Date'].dt.strftime('%m/%d/%Y')
ETF_df.sort_index(inplace=True)

#drop unneccessary columns and keep close price columns
ETF_close_prices_df = ETF_df.loc[:, ['JNK.3', 'LQD.3', 'MUB.3', 'TLT.3', 'UDN.3', 'UUP.3']]
ETF_close_prices_df.rename(columns={'JNK.3': 'JNK',
                   'LQD.3': 'LQD',
                   'MUB.3': 'MUB',
                   'TLT.3': 'TLT',
                   'UDN.3': 'UDN',
                   'UUP.3': 'UUP',
                  }, inplace=True)

ETF_close_prices_df[['JNK', 'LQD', 'MUB', 'TLT', 'UDN', 'UUP']] = ETF_close_prices_df[['JNK', 'LQD', 'MUB', 'TLT', 'UDN', 'UUP']].astype(float)
ETF_close_prices_df.dtypes

#calculate daily returns
ETF_daily_returns_df = ETF_close_prices_df.pct_change().dropna()
ETF_daily_returns_df.head()

                 JNK       LQD       MUB       TLT       UDN       UUP
2013-01-03 -0.002194 -0.005525  0.000002 -0.013632 -0.008094  0.007791
2013-01-04  0.001221 -0.000415 -0.001968  0.003900 -0.000371  0.000000
2013-01-07  0.002196  0.001410  0.001434  0.000210  0.003340 -0.002729
2013-01-08 -0.000487  0.001077  0.001790  0.006714 -0.001294  0.000912
2013-01-09  0.000974 -0.000153  0.002501 -0.001007 -0.003148  0.002733

In [217]:
#import quandl api file for US Treasury Rate history
USTREASURY_data = quandl.get('USTREASURY/YIELD', start_date='2013-01-01', end_date='2020-11-06',authtoken=api_key_QD)
#USTREASURY_data.to_csv('Resources/USTREASURY1.csv', encoding='utf-8', index=True)
USTREASURY_data.head()
columns_to_drop = ['1 MO', '2 MO', '3 MO', '6 MO']
USTREASURY_data.drop(columns=columns_to_drop, inplace=True)
USTREASURY_data.sort_index(inplace=True)

#create new dataframe with maturity values
columns = []
tsy_mty_df = USTREASURY_data.copy()
for column in USTREASURY_data.columns:
    maturity = ''
    for item in column.split():
        if item.isdigit():
            maturity = maturity + item
    #print(int(maturity[0]))
    tsy_mty_df[column] = int(maturity)
    columns.append(maturity)
USTREASURY_data.columns = [columns]
tsy_mty_df.columns = [columns]

#USTREASURY_data.head()
#tsy_mty_df.head()

#define function for calculating Treasury bond prices
def bondprice(fv, c, ytm, t, m):
    bondprice = ((fv*c/m*(1-(1+ytm/m)**(-m*t)))/(ytm/m)) + fv*(1+(ytm/m))**(-m*t)
    return(bondprice)

#bondprice(1000,0.06,0.08,9,2)
bondprice(100,0.0015,0.0014,1,2)

#create new dataframe with treasury bond prices
fv = 100
c = USTREASURY_data.shift(1)/100
ytm = USTREASURY_data/100
m = 2
t = tsy_mty_df
USTREASURY_daily_prices = bondprice(fv, c, ytm, t, m)

USTREASURY_data_daily_returns = USTREASURY_daily_prices.pct_change().dropna()
USTREASURY_data_daily_returns.head()

,1,2,3,5,7,10,20,30
Date,,,,,,,,
2013-01-04,0.000000e+00,0.000000,0.000596,0.001961,0.003348,0.004555,0.010880,0.019705
2013-01-07,0.000000e+00,0.000000,0.000298,0.000489,0.001334,0.001813,0.000000,-0.003873
2013-01-08,9.989510e-05,0.000399,0.000894,0.001468,0.001335,0.001814,0.006173,0.007816
2013-01-09,7.485769e-09,-0.000199,-0.000595,-0.000488,-0.001332,-0.001809,-0.004600,-0.007755
2013-01-10,-1.997777e-04,-0.000598,-0.000298,-0.002444,-0.002667,-0.003624,-0.006156,-0.003898

In [208]:
# pull in LIBOR swaps to create pct_change df
## the sort_index for dates doesn't seem to be working...
swaps_csv = Path("Resources/libor_swaps.csv")
swaps_df = pd.read_csv(swaps_csv, index_col='Date', infer_datetime_format=True, parse_dates=True)
#swaps_df.set_index('Date',inplace=True)
swaps_df.sort_index(inplace=True)

swaps_mty_df = swaps_df.copy()
for column in swaps_df.columns:
    swaps_mty_df[column] = int(column)

#create new dataframe with libor swap value (using bond price function)
fv = 100
c = swaps_df.shift(1)/100
ytm = swaps_df/100
m = 2
t = swaps_mty_df
swaps_df_values = bondprice(fv, c, ytm, t, m)

swaps_daily_returns = swaps_df_values.pct_change().dropna()
swaps_daily_returns.index

DatetimeIndex(['2013-01-04', '2013-01-07', '2013-01-08', '2013-01-09',
               '2013-01-10', '2013-01-11', '2013-01-14', '2013-01-15',
               '2013-01-16', '2013-01-17',
               ...
               '2020-10-19', '2020-10-20', '2020-10-21', '2020-10-22',
               '2020-10-23', '2020-10-26', '2020-10-27', '2020-10-28',
               '2020-10-29', '2020-10-30'],
              dtype='datetime64[ns]', name='Date', length=1957, freq=None)

In [169]:
#pull in bond prices and create dataframe
bonds_csv = Path("Resources/bonds_example_prices.csv")
bonds_df = pd.read_csv(bonds_csv, index_col='Date',infer_datetime_format=True, parse_dates=True)
bonds_df.sort_index(inplace=True)

#need to wait to dropna after concat within the correlation function
bonds_daily_returns = bonds_df.pct_change()
bonds_daily_returns.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08',
               '2013-01-09', '2013-01-10',
               ...
               '2020-10-23', '2020-10-24', '2020-10-25', '2020-10-26',
               '2020-10-27', '2020-10-28', '2020-10-29', '2020-10-30',
               '2020-10-31', '2020-11-01'],
              dtype='datetime64[ns]', name='Date', length=2862, freq=None)

In [67]:
#pull in bond descriptions to dataframe
bondescr_csv = Path("Resources/muni_hedge_characteristics.csv")
bondescr_df = pd.read_csv(bondescr_csv)

cleaned_cusips = []
for cusipid in bondescr_df['CUSIP']:
    cusipid = cusipid.strip()
    cleaned_cusips.append(cusipid)

bondescr_df['CUSIP'] = cleaned_cusips

bondescr_df.set_index('CUSIP',inplace=True)
bondescr_df.head()

,Security,Coupon,Next Call Date,Maturity Date,Bloomberg Composite Rating,U.S States
CUSIP,,,,,,
546417DJ2,LOUISIANA ST -B -REF,5.0,NaN,11/15/2020,AA-,LA
59259YQW2,MET TRANS-D-REF,5.0,NaN,11/15/2020,BBB+,NY
59261AJX6,MET TRANSPRTN AUTH NY,5.0,NaN,11/15/2020,BBB+,NY
89602NZX5,TRIBORO BRDG-B,5.0,NaN,11/15/2020,AA-,NY
13063CHQ6,CALIFORNIA ST-VARIOUS,5.0,NaN,12/01/2020,AA-,CA

In [68]:
bondescr_df.index

Index(['546417DJ2', '59259YQW2', '59261AJX6', '89602NZX5', '13063CHQ6',
       '167724AA1', '452252HQ5', '837151NL9', '542424VF0', '645916Z59',
       ...
       '677632PA3', '91412GHA6', '254845JZ4', '677704A65', '91412GC86',
       '915217WX7', '783186TP4', '915217XA6', '91335VKQ8', '913366KD1'],
      dtype='object', name='CUSIP', length=6711)

In [127]:
#function passing a cusip to put it against hedges
#what are the steps we need our function to do:
    #1.pick bond
    #2. compare versus all hedges
    #3. show correlation of bond vis a vis different hedges
#ETF_daily_returns_df, USTREASURY_data_daily_returns, swaps_daily_returns, bonds_daily_returns  
cusip = '6581965D8'
#def historical_corr(cusip):
# find maturity of chosen muni bond and convert to datetime
bond_mty = bondescr_df.loc[cusip,'Maturity Date']
bond_mty = dt.datetime.strptime(bond_mty, '%m/%d/%Y')
bond_mty

datetime.datetime(2021, 1, 1, 0, 0)

In [174]:
# create series with bond years to maturity for lookup in dataframes
# relativedelta function: https://dateutil.readthedocs.io/en/stable/relativedelta.html
## make output for years more exact by looking at days/360 and rounding?
mty_years = []
for return_date in bonds_daily_returns.index:
    difference = relativedelta(bond_mty, return_date)
    mty_years.append(difference.years)
len(mty_years)

2862

In [182]:
# reference closest maturity in tsy and swap df
# USTREASURY_data_daily_returns, swaps_daily_returns, mty_years
tsy_index = []
for item in mty_years:
    min_item = ' '
    min_value = 0
    for col in USTREASURY_data_daily_returns.columns:
        if min_item == ' ':
            min_item = int(col[0])
            min_value = abs(int(col[0]) - int(item))
        elif abs(int(col[0]) - int(item)) < min_value:
            min_item = int(col[0])
            min_value = abs(int(col[0]) - int(item))
    tsy_index.append(min_item)

swap_index = []
for item in mty_years:
    min_item = ' '
    min_value = 0
    for col in swaps_daily_returns.columns:
        if min_item == ' ':
            min_item = int(col[0])
            min_value = abs(int(col[0]) - int(item))
        elif abs(int(col[0]) - int(item)) < min_value:
            min_item = int(col[0])
            min_value = abs(int(col[0]) - int(item))
    swap_index.append(min_item)
#len(swap_index)
len(tsy_index)

2862

In [226]:
# create new dataframe to combine items
# USTREASURY_data_daily_returns, swaps_daily_returns, mty_years
joined_df = pd.DataFrame(bonds_daily_returns[cusip])
joined_df['tsy_index'] = tsy_index
#joined_df = pd.concat([joined_df, USTREASURY_data_daily_returns], join="outer")
joined_df.head()

            6581965D8  tsy_index
Date
2013-01-01        NaN          7
2013-01-02   0.001655          7
2013-01-03   0.003139          7
2013-01-04  -0.003377          7
2013-01-05   0.000000          7

In [225]:
# look up corresponding TSY change data in tsy df
#column_index = joined_df.shift(periods=-1, axis="columns")
#joined_df['tsy_change'] = USTREASURY_data_daily_returns.loc[joined_df.index, column_index]
tsy_change = []
for indx in joined_df.index:
    #datetime_conv = pd.to_datetime(indx, utc=True).date
    #formatted_dt = dt.datetime.strftime(datetime_conv, '%Y-%m-%d')
    #change = USTREASURY_data_daily_returns.loc[datetime_conv, joined_df['tsy_index'][indx]]
    #print(indx)
    next

In [183]:
joined_df['swap_index'] = swap_index
joined_df.head()

            6581965D8  tsy_index  swap_index
Date
2013-01-01        NaN          7           8
2013-01-02   0.001655          7           7
2013-01-03   0.003139          7           7
2013-01-04  -0.003377          7           7
2013-01-05   0.000000          7           7

In [ ]:
##concat separate dataframes (bonds, muni etf, swap, treasury, treasury etf)

In [ ]:
## calculate standard deviation

In [ ]:
## calculate sharpe ratios

In [ ]:
# correlation matrix for individual bond vs different hedges--visualization with interaction?